.navbar-text > a {
	color: inherit;
	text-decoration: none;
}

body {
	
	padding-bottom: 70px;
}

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 72px;
}

h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
}

#email {
  padding-right: 10px;
  padding-left: 10px;
}
