.navbar-text > a {
	color: inherit;
	text-decoration: none;
}

body {
	
	padding-bottom: 70px;
}

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 72px;
}

h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
}

#emaildiv {
  padding-top: 30px;
}
#namediv {
  padding-top: 30px;
}
#messagediv {
  padding-top: 30px;
}

#carousel {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.navbar-default {
	background-color: #5F9EA0;
	border-color: #F8F8FF;
	color: #F8F8FF;
}

.navbar-default .navbar-brand {
	color: #F8F8FF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #2F4F4F;
	background-color: transparent;
}

.navbar-default .navbar-nav > li >a {
	color: #F8F8FF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #F8F8FF;
	background-color: #2F4F4F;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color:#2F4F4F;
	background-color: transparent;
}

.btn-primary {
	background-color: #5F9EA0;
	border-color: #5F9EA0;
	color: #F8F8FF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color: #2F4F4F;
	border-color: #2F4F4F;
	color: #F8F8FF;	
}


.thumbnail img:hover {
	transform: scale(1.1);
}

.thumbnail img {
	transition: all 0.3s ease 0s;
	width: 100%;
}

.thumbnail {
	overflow: hidden;
}



